################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AGSolutionConnectivityTeam/FileContentIndex/7f2e75d8-f620-48ed-b1c4-ac5baba14307.vsidx
